<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>watch_test WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>watch_test WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>watch_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C566B0171E8A616C001CF0A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C566B02B1E8A616D001CF0A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C566B0361E8A616D001CF0A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C566B03F1E8A616D001CF0A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
