<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1066954317009-kear60846rspoguk5061a5tfrjpajnrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066954317009-kear60846rspoguk5061a5tfrjpajnrm</string>
	<key>API_KEY</key>
	<string>AIzaSyCpi3qH5PF7iVzSlajt2RlG6PPmdbOWj7w</string>
	<key>GCM_SENDER_ID</key>
	<string>1066954317009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AHN.HYU</string>
	<key>PROJECT_ID</key>
	<string>hyu-push</string>
	<key>STORAGE_BUCKET</key>
	<string>hyu-push.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066954317009:ios:702fe5a4d503568f</string>
	<key>DATABASE_URL</key>
	<string>https://hyu-push.firebaseio.com</string>
</dict>
</plist>