<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FB-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C55BF7811E86A1F700996A92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C55BF7951E86A1F700996A92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C55BF7A01E86A1F700996A92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
